/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
	background-color: #FFFEF8;
	;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.projet {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.mode-edition a{
	height: 59px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 21px;
	text-decoration: none;
}

.mode-edition p {
	color: white;
	font-family: 'Work Sans';
}

.mode-edition img, .modifier img {
	width: 15.58px;
	height: 15.58px;
}

nav a {
	text-decoration: none;
	color: black;
}
nav a:hover {
	color: #B1663C;
}
/** end reset css**/
.main-container {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1:hover {
    cursor: pointer;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.filtre {
	height: 37px;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.filtre button {
	min-width: 100px;
	border: #1D6154 1px solid;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;

	background-color: transparent;
	padding: 10px;
}

.filtre button:hover{
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #login, #ajout-photo {
	width: 50%;
margin: auto;
}
#contact > * , #login > *, #ajout-photo > * {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form, #ajout-photo form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input, #ajout-photo input, #ajout-photo select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label, #ajout-photo label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
input[type="submit"]:hover {
	background-color: #0e2f28;
	cursor: pointer;
}

#login-form p {
	margin: auto;
	text-decoration: underline;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.footerlogin {
	position: fixed;
	bottom: 0;
	width: 100%;
}
span {
	font-weight: 700;
}


/* modale*/

/* .modal-btn {

} */

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.modal-container.active {
	display: block;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.20);
}

.galmodal, .form-modal {
	display: none;
}

.galmodal.active, .form-modal.active {
	display: block;
}

.modal, .form-photo {
	width: 100%;
	max-width: 630px;
	padding: 60px 0 0 0;
	background: #FFFEF8;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-modal{
	display: none;
}

.modal h3, .form-modal h3 {
	font-family: 'Work Sans';
	font-size: 26px;
}

.modal input, .form-modal input[type="submit"] {
	width: 237px;
	height: 36px;
	border: none;
	margin-top: 40px;
	margin-bottom: 40px;
}

.gallerymodale {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 8px;
	margin-top: 50px;
	padding-bottom: 5%;
	border-bottom:solid 2px rgba(0, 0, 0, 0.15) ;
}



.gallerymodale img {
	width: 100%;
	max-width: 76.86px;
}

.close-modal {
	width: 12px;
	height: 12px;
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 25px;
	right: 20px;
	cursor: pointer;
	color: black;
	background-color: transparent;
}
.return-modal {
	width: 21px;
	height: 21px;
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 25px;
	left: 20px;
	cursor: pointer;
	color: black;
	background-color: transparent;
}


.gallerymodale .delete-icon {
	width: 9px;
	height: 10.29px;
	background-color: black;
	background: black;
	padding: 3.34px 4px;
	border-radius: 2px;
	position: relative;
	bottom: 99px;
	left: 54px;
	cursor: pointer;
}

#ajout-photo {
	width: 70%;
	margin-top: 50px;
	padding-bottom: 5%;
	border-bottom:solid 2px rgba(0, 0, 0, 0.15) ;
	margin-left: 100px;
}




#ajout-photo label {
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	color: #3d3d3d;
	line-height: 16.42px;
}

#ajout-photo select, #ajout-photo input[type="text"] {
	width: 100%;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #444444;
	font-family: 'Work Sans';
	padding-right: 0;
}

#ajout-photo input[type="file"] {
	width: 100%;
	height: 169px;
	background-color: #e8f1f6;
	margin-bottom: 30px;
	padding: 0;
}

#ajout-photo input {
	width: 100%;
	margin-bottom: 30px;
}

.valider-btn[disabled] {
	background-color: #A7a7a7; /* Couleur de fond grise pour les boutons désactivés */
	color: white; /* Couleur de texte grise pour les boutons désactivés */
	cursor: not-allowed; /* Curseur non autorisé pour les boutons désactivés */
	/* Autres styles de mise en forme pour les boutons désactivés */
  }

  .valider-btn[disabled]:hover {
	background-color: #A7a7a7; /* Couleur de fond grise pour les boutons désactivés */
	color: white; /* Couleur de texte grise pour les boutons désactivés */
	cursor: not-allowed; /* Curseur non autorisé pour les boutons désactivés */
	/* Autres styles de mise en forme pour les boutons désactivés */
  }